.board-logo-img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.filter-container{
    // width: 200px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px 0px;
    .presence-select{
        width: 200px;
        height: 30px;
    }
    .text-search{
        height: 38px;
        border-radius: 5px;
        border: 1px solid gray;
        margin-left: 25px;
        font-family: montserrat;
        font-size: 1.125rem;
        padding-left: 8px;
        &::placeholder{
            font-family: montserrat;
            font-size: 1.125rem;
            
            padding-left: 8px;
        }
    }
    

}
.opacity{
    opacity: 0%;
        transition: all 1.2s; 
}
.board-container{
    width: 95vw;
    margin: 0 auto;
    .board-loader{
        display: flex;
        justify-content: space-around;
    }
    .employee-list {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 5px;
        align-items: center;
        margin: 0 auto;
        .opacity{
            opacity: 0%;
            transition: all 0.5s;
        }
        .employee-card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 5px;
            padding: 5px;
            border: 3px solid rgba(2, 44, 63, 0.719);
            text-align: center;
            width: 150px;
            height: 150px;
            box-sizing: border-box;
            border-radius: 15px;
            align-items: center;
            font-size: 15px;
            cursor: pointer;
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
            .click-loader{
                position: absolute;
                top: 30%;
                z-index: 2
            }
            .employee-card-img {
                width: 90%;
                height: 90%;
                padding-bottom: 5px;
                object-fit: cover;
                border-radius: 15px;
                justify-self: center;
                transition: all 2.2s;
                overflow: hidden;

            }
            .gray{
                filter: grayscale(100%);
                transition: all 2.2s ;
            }
            p{
                margin-bottom: 3px
            }
           
        
        }
    }
}