.employee-profile{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    .employee-profile-image{
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
    .green{
        color: green;
    }
    .red{
        color: red
    }
}