

.header {
    display: flex;
    // border-bottom: 2px solid rgb(124, 124, 124);
    margin-bottom: 0px;
    padding: 10px;
    box-shadow: 5px 5px 8px 5px #bebebebd;
    justify-content: space-between;
    align-items: center;
    
    img {
        padding: 10px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-inline-start: 15px;
        object-fit: contain;
    }
    .userIcon{
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 10px;
        padding: 0;
    }
    .logged{
        object-fit: cover;
        // filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(135deg) brightness(119%) contrast(119%);

    }
    .company-name{
        justify-self:flex-end;
    }
    .links *{
        display: inline-block;
        margin-inline-end: 30px;
        vertical-align: middle;
        text-decoration: none;
        color: rgb(1, 128, 64);
        transition: all 0.4s;
        
        &:hover{
            color: rgba(23, 202, 178, 0.753);
            transform: scale(1.08)
        }
        &:last-child{
            transform: scale(1);
        }

    }
    
    .active{
        color:rgba(55, 245, 172, 0.753);
    }
    a:last-child{
        margin: 0;
    }
    .user-div{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        
        
        p{
            margin: 0;

            &:hover{
                transform: scale(1.05);

            }
        }

        img{
            margin-left: 5px;
        }
    }
}

