// Colors
$clr1: #a9bcd0;
$clr2: #58a4b0;
$clr3: #373f51;
$clr4: #d8dbe2;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
